.btn {
    height: 42px;
    background: $main-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 30px;
    border-radius: 2px;
    transition: 0.4s all;
    color: #000000ec;
    &:hover {
        color: #ffffff;
    }
}