.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #000000;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 90%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        position: relative;
        width: 310px;
        padding-top: 90px;
        padding-left: 50px;
        transition: all 0.6s;
        background-color: #ffa601e9;
        height: 100%;
        z-index: 10;
        border-bottom-right-radius: 10px;

    }
    &__close {
        position: absolute;
        top: 18px;
        right: 20px;
        cursor: pointer;
        svg {
            transition: all 0.2s;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
    &__list {
        list-style-type: none;
        font-size: 24px;
        line-height: 56px;
        margin-bottom: 15px;
        a {
            color: #242722;
            text-decoration: none;
            &:hover {
                color: #e4e4e4f3;
            }
            &:hover + .menu_divider {
                background-color: #e4e4e4f3; 
            }
        }
    }
    &_divider {
        display: block;
        height: 1px;
        width: 210px;
        background-color: #1e1e1ee0;
    }
    &__social {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            transition: all 0.2s;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.75;
    }
}
